@import url('https://fonts.googleapis.com/css?family=Montserrat');


* {
	box-sizing: border-box;
}

body {
	background: rgb(0,99,180);
  background: linear-gradient(133deg, rgba(0,99,180,1) 0%, rgba(255,174,174,1) 49%, rgba(0,212,255,1) 100%);
	font-family: Montserrat, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
  zoom: 1.3;

}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.container {
	background-color: #ffffff2c;
	border-radius: 30px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #ffffff;
	padding-top: 70px;
  bottom: 10%;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
  zoom: 1.1;
  @viewport {
    max-zoom: 1.5;
  }
}

.container .status {
  -webkit-animation: colorchange 10s infinite alternate ease-out;
  background-color: rgba(255, 255, 255, 0.445);
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	height: auto;
  width: 100px;
  margin-left: 35%;

}
@-webkit-keyframes colorchange {
  0% {
    color: rgb(255, 0, 0);
  }
  10% {
    color: rgb(255, 81, 0);
  }
  20% {
    color: rgb(255, 230, 0);
  }
  30% {
    color: rgb(247, 255, 200);
  }
  40% {
    color: rgb(94, 255, 0);
  }
  50% {
    color: rgb(0, 255, 55);
  }
  60% {
    color: rgb(0, 255, 213);
  }
  70% {
    color: #00b7ff;
  }
  80% {
    color: #0059ff;
  }
  90% {
    color: #2f00ff;
  }
  100% {
    color: rgb(162, 0, 255);
  }
}

.container .round {
	border: 1px solid #ffffff;
	border-radius: 50%;
	padding: 7px;
  height: auto;
  width: 100px
}

br {
  content: "";
  display: block;
  /* jetzt evtl. Größenangaben, z. B. height */
  height:.2em;
  
}

button.main {
  background-color: transparent;
  
	border: 1px solid #ffffff;
	border-radius: 30px;
	color: #ffffff;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
  cursor: pointer;
}

button.main.discord {

	background-color: transparent;
	color: #ffffff;
}


button.main.github {

	background-color: transparent;
	color: #ffffff;
}


.skills {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
	background-color: #ffffff17;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
  
}

.skills ul {
  
	list-style-type: none;
	margin: 0;
	padding: 0;
  
}

.skills ul li {
	border: 1px solid #ffffff;
	border-radius: 100px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

footer {
    background-color: rgba(255, 255, 255, 0.295);
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.75);
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    border-radius:  20px;
    bottom: 8%;
    max-height: fit-content;
    max-width:40%;
    position: relative;
    width: 350px;
    
    

}

footer p {
    margin: 6px;

}


footer a {
  -webkit-animation: colorchange 10s infinite alternate ease-out;
    text-decoration: none;
    
}

@-webkit-keyframes colorchange {
  0% {
    color: rgb(255, 0, 0);
  }
  10% {
    color: rgb(255, 81, 0);
  }
  20% {
    color: rgb(255, 230, 0);
  }
  30% {
    color: rgb(247, 255, 200);
  }
  40% {
    color: rgb(94, 255, 0);
  }
  50% {
    color: rgb(0, 255, 55);
  }
  60% {
    color: rgb(0, 255, 213);
  }
  70% {
    color: #00b7ff;
  }
  80% {
    color: #0059ff;
  }
  90% {
    color: #2f00ff;
  }
  100% {
    color: rgb(162, 0, 255);
  }
}